@use './reset.scss';
@use './variables/global.scss';
@use './themes/normal.scss';
@use './themes/dark.scss';


body {
  font: var(--font-m);
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
}

.content-page {
  width: 100%;
  height: 100%;
}

