.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  &__select-city {
    min-width: 230px;
    width: 30%;
    min-height: 40px;
    margin: calc(120px - var(--header-height)) auto 20px;
  }

  &__select-form {
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--secondary-color);
    padding: 12.5px 0 12.5px 16px;
    font-size: 16px;
    line-height: 14.52px;
    appearance: none;
    background: url('../../assets/arrows/stat_min_theme_normal.svg') no-repeat right;
    background-position-x: calc(100% - 16px);
    color: var(--primary-color);
    transition: box-shadow .3s ease-in-out;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
  }

  &__select-form-theme-dark {
    background: url('../../assets/arrows/stat_min_theme_dark.svg') no-repeat right;
    background-position-x: calc(100% - 16px);
  }

  &__select-form:hover {
    box-shadow: 0 0 10px 1px var(--secondary-color);
  }

  &__select-form:focus {
    border: none;
    outline: 2px solid var(--primary-color);
  }

  &__city-not-selected {
    margin: 0 auto;
    margin-top: 30px;
    color: var(--secondary-color);
  }

  &__city-not-selected-light-color {
    color: var(--primary-color);
  }

  &__city-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
  }

  &__city-info-btn-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-bottom: 32px;
  }

  &__city-info-title {
    font: var(--font-l);
    color: var(--primary-color);
  }

  &__city-info-edit-button,
  &__city-info-delete-button {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
    padding: 0 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    background-color: transparent;
    color: var(--primary-color);
    transition: box-shadow .3s ease-in-out;
    cursor: pointer;
  }

  &__city-info-edit-button {
    right: 70px;
  }

  &__city-info-delete-button {
    right: 15px;
  }

  &__city-info-delete-button:hover ,
  &__city-info-edit-button:hover {
    box-shadow: 0 0 10px 1px var(--secondary-color);
  }

  &__city-info-delete-button:focus ,
  &__city-info-edit-button:focus {
    border: none;
    outline: 2px solid var(--primary-color);
  }

  &__city-info-description {
    max-width: 60%;
    color: var(--secondary-color);
    overflow: hidden;
  }

  &__city-info-description-light-color {
    color: var(--primary-color);
  }
}

.dashboard__login-to-account {
  display: flex;
  justify-content: center;
  margin-top: calc((100vh - var(--header-height)) / 2);
  font-size: 18px;
  color: var(--primary-color);
}
