.lang-button {
  background-color: transparent;
  width: 24px;
  color: var(--primary-color);
  border: none;
  cursor: pointer;
  transition: box-shadow .3s ease-in-out, border-radius .3s ease-in-out;
}

.lang-button:hover {
  border-radius: 50%;
  box-shadow: 0 0 10px 1px var(--secondary-color);
}

.lang-button:focus {
  border-radius: 50%;
  outline: 1px solid var(--secondary-color);
}