.theme-button {
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: box-shadow .3s ease-in-out, border-radius .3s ease-in-out;
}

.theme-button:hover {
  border-radius: 50%;
  box-shadow: 0 0 10px 1px var(--secondary-color);
}

.theme-button:focus {
  border-radius: 50%;
  outline: 1px solid var(--secondary-color);
}