.login-container {
  --login-container-height: 188px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  height: var(--login-container-height);
  margin: 0 auto;
  margin-top: calc((100vh - var(--header-height) - var(--login-container-height)) / 2);
}

.login-title {
  width: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 19.36px;
  color: var(--primary-color);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-group {
  margin-bottom: 12px;
}

.form-group:last-of-type {
  margin-bottom: 0;
}

.login-input {
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--secondary-color);
  font-size: 12px;
  line-height: 14.52px;
  padding: 8px;
  padding-left: 16px;
  background-color: inherit;
  color: var(--primary-color);
  transition: outline .1s linear;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.login-input-password {
  color: var(--inverted-primary-color);
}

.login-input::placeholder {
  color: var(--secondary-color);
}

.login-input:focus {
  border: none;
  outline: 2px solid var(--primary-color);
}

.login-button {
  width: 68px;
  height: 31px;
  border-radius: 8px;
  background-color: #000000;
  color: var(--primary-color);
  margin-top: 32px;
  border: 1px solid var(--secondary-color);
  transition: box-shadow .3s ease-in-out, transform .3s ease-in-out;
  cursor: pointer;
}

.login-button-light-color {
  color: var(--secondary-color);
}

.login-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px 1px var(--secondary-color);
}

.login-button:focus {
  border: none;
  outline: 2px solid var(--primary-color);
}
